# compiled python stuff
*.py[cod]
__pycache__

# outputs
graphs/
logs/
resources/dummy_data/
dist/
results/

# tox and common virtualenv directory
.tox/
.venv/

# IDE config
.idea/
.vscode/
/*.code-workspace

# pytest
.pytest_cache